<ul class="article__list">
{% for article in articles | reverse %}
  <li class="article__item">
    <article class="article__preview">
      <h2><a href="{{ article.url | url }}">{{ article.data.title }}</a></h2>
      <p>{{ article.data.excerpt }}</p>
      <small>
        <time>{{ article.data.date | readableDate }}</time>
        <a class="category" href="/blog/{{ article.data.category }}">{{ article.data.category }}</a>
      </small>
    </article>
  </li>
{% endfor %}
</ul>