<footer role="contentinfo">
  <p>This project is maintained by <span>Claudia Reynders</span>, since 2022.&nbsp; Find me on 
    <a class="social-media__link"
      href="https://twitter.com/claudia_rndrs"
      target="_blank">
      {% icon "custom:twitter", class="icon" %}

      <span class="sr-only">Twitter</span>
    </a>
  </p>
</footer>