<footer role="contentinfo">
  <p>This project is maintained by <span>Claudia Reynders</span>, since 2022.&nbsp; Find me on 
    <a class="social-media__link"
      href="https://twitter.com/womendotcodebe">
      <svg-icon
          src="/assets/sprite.svg#twitter"
          width="16px"
          viewBox="0 0 32 32"
          aria-hidden="true"
          focusable="false"
      ></svg-icon>

      <span class="sr-only">Twitter</span>
    </a>
  </p>
</footer>