{% set navItems = collections.all | eleventyNavigation %}
<header role="banner">
  <nav role="navigation" aria-label="main navigation" >
    <ul>
      {%- for item in navItems %}
      <li>
        <a href="{{ item.url }}">{{ item.key }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>